{% extends "tethys_apps/app_base.html" %}

{% load staticfiles %}

{% load tethys_gizmos %}

{% block title %}{{ tethys_app.name }}{% endblock %}

{% block app_icon %}
  {# The path you provided in your app.py is accessible through the tethys_app.icon context variable #}
  <img src="{% if 'http' in tethys_app.icon %}{{ tethys_app.icon }}{% else %}{% static tethys_app.icon %}{% endif %}" />
{% endblock %}

{# The name you provided in your app.py is accessible through the tethys_app.name context variable #}
{% block app_title %}{{ tethys_app.name }}{% endblock %}

{% block app_navigation_items %}

{% endblock %}

{% block app_content %}
{% endblock %}

{% block app_actions %}
{% endblock %}

{% block content_dependent_styles %}
  {{ block.super }}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/openlayers/3.20.1/ol.css" rel="stylesheet"/>
  <link href="{% static 'historical_validation_tool_brazil/css/main.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script>
    var staticGeoJSON = "{% static 'historical_validation_tool_brazil/geojson/' %}";
    var staticGeoJSON2 = "{% static 'historical_validation_tool_brazil/geojson2/' %}";
    var staticGeoJSON3 = "{% static 'historical_validation_tool_brazil/geojson3/' %}";
    var staticStations = "{% static 'historical_validation_tool_brazil/stations/' %}";
  </script>
  {# Allows csrf verification with AJAX #}
  <script src="{% static 'historical_validation_tool_brazil/js/regionsIndex.js' %}" type="text/javascript"></script>
  <script src="{% static 'historical_validation_tool_brazil/js/regionsIndex2.js' %}" type="text/javascript"></script>
  <script src="{% static 'historical_validation_tool_brazil/js/regionsIndex3.js' %}" type="text/javascript"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/3.20.1/ol.js" type="text/javascript"></script>
  <script src="{% static 'historical_validation_tool_brazil/js/home.js' %}" type="text/javascript"></script>
{% endblock %}