{% extends "historical_validation_tool_brazil/app_base.html" %}
{% load static %}
{% load tethys_gizmos %}

{% block import_gizmos %}
    {% import_gizmo_dependency plotly_view %}
{% endblock %}

{% block title %}{{ tethys_app.name }}{% endblock %}

{% block app_icon %}
  {# The path you provided in your app.py is accessible through the tethys_app.icon context variable #}
  <img src="{% if 'http' in tethys_app.icon %}{{ tethys_app.icon }}{% else %}{% static tethys_app.icon %}{% endif %}" />
{% endblock %}

{# The name you provided in your app.py is accessible through the tethys_app.name context variable #}
{% block app_title %}{{ tethys_app.name }}{% endblock %}

{% block app_navigation_items %}
{% endblock %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Data panel">
    <a data-bs-toggle="modal" data-bs-target="#panel-modal"><i class="bi bi-graph-up"></i></a>
  </div>
  
  <div class="header-button glyphicon-button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Help">
    <a data-bs-toggle="modal" data-bs-target="#help-modal"><i class="bi bi-question-circle"></i></a>
  </div>
{% endblock %}


{% block app_content %}
  <div id="map-container"></div>
  <script type="text/javascript"> 
      let stations  = "{{ data|safe }}";
  </script>
{% endblock %}



{# Use the after_app_content block for modals #}
{% block after_app_content %}
  <!-- Example Modal --> 
  <div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
    <div class="modal-dialog  modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="help-modal-label"> <strong>Historical Validation Tool</strong></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            Historical Validation Tool web application customized for Brazil 
            is a light-weight application for evaluate the bias-corrected simulated 
            values for the GEOGloWS ECMWF Streamflow Prediction Tool in Brazil.
          </p>
          <p>
            The app uses the hydrostats python packages to assess the accuracy of the historical simulation with  
            bias correction in the GEOGloWS ECMWF streamflow prediction tool compared to the observed water levels.
          </p>
          <p>
            Additionally, this bias-correction is extended to the GEOGloWS ECMWF Streamflow 
            Prediction Tool short term forecast
          </p>
          <p>
            Users can click on any station in the map to retrieve observed and simulated data.
          </p>
          <p style="color:#e61e29;"><strong>DISCLAIMER:</strong></p>
          <p style="color:#e61e29;">
          The user should consider these simulations and forecasts are a reference that use GEOGloWS ECMWF prediction tool 
          and observed data to estimate the most likely range of streamflows above or below the simulated historical average.
          </p>
          <ol style="color:#e61e29;">
            <li>The user should consider the probability that a prediction may not always be correct.</li>
            <li>The user accepts in advance the term and use conditions of the information.</li>
          </ol>
          
           
        </div>
        <div class="modal-footer">
          <div class="FootNote">
            <p style ><sup>
              Sources: Drainage network of the GEOGloWS ECMWF model;</sup> 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- Data Station Panel -->
    <div class="modal fade" id="panel-modal" tabindex="-1" role="dialog" aria-labelledby="panel-modal-label">
      <div class="modal-dialog  modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title" id="panel-modal-label">
              <div>
                <img src="{% static 'historical_validation_tool_brazil/images/logos.png' %}" width="600px">
              </div>
              <div>
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <h5 id="panel-title-custom">Nombre de la estacion</h5>
                    </div>
                  </div>
                  <div class="row" id="panel-station-information">
                    <div class="col">
                      <div class="row-station" id="station-comid-custom"> <b>COMID:</b> &nbsp   </div>
                      <div class="row-station" id="station-river-custom"> <b>RIVER:</b> &nbsp   </div>
                    </div>
                    <div class="col">
                      <div class="row-station" id="station-latitude-custom"> <b>LATITUDE:</b> &nbsp   </div>
                      <div class="row-station" id="station-longitude-custom"> <b>LONGITUDE:</b> &nbsp   </div>
                    </div>
                    <div class="col">
                      <div class="row-station" id="station-altitude-custom"> <b>ALTITUDE:</b> &nbsp   </div>
                      <div class="row-station" id="station-locality1-custom"> <b>MUNICIPALITY:</b> &nbsp   </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
          </div>
          <div id="modal-body-panel-custom" class="modal-body" style="min-width: 100% !important;">
              <ul class="nav nav-tabs" id="panel-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button 
                    class="nav-link active" 
                    id="hydrograph-tab" 
                    data-bs-toggle="tab" 
                    data-bs-target="#hydrograph" 
                    type="button" 
                    role="tab" 
                    aria-controls="hydrograph" 
                    aria-selected="true"> Historical data </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button 
                    class="nav-link" 
                    id="visual-analisis-tab" 
                    data-bs-toggle="tab" 
                    data-bs-target="#visual-analisis" 
                    type="button" 
                    role="tab" 
                    aria-controls="visual-analisis" 
                    aria-selected="false">Visual Analysis</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button 
                    class="nav-link" 
                    id="metrics-tab" 
                    data-bs-toggle="tab"
                    data-bs-target="#metrics" 
                    type="button" 
                    role="tab" 
                    aria-controls="metrics" 
                    aria-selected="false"> Metrics </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button 
                    class="nav-link" 
                    id="forecast-tab" 
                    data-bs-toggle="tab"
                    data-bs-target="#forecast" 
                    type="button" 
                    role="tab" 
                    aria-controls="forecast" 
                    aria-selected="false"> Raw Forecast </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button 
                      class="nav-link" 
                      id="corrected-forecast-tab" 
                      data-bs-toggle="tab"
                      data-bs-target="#corrected-forecast" 
                      type="button" 
                      role="tab" 
                      aria-controls="corrected-forecast" 
                      aria-selected="false"> Corrected Forecast </button>
                </li>
              </ul>
              <div class="tab-content" id="panel-tab-content">
                <div class="tab-pane fade show active" id="hydrograph" role="tabpanel" aria-labelledby="hydrograph-tab">
                  <div class="loading-container" style="height: 350px; padding-top: 12px;"> 
                    <div class="loading"> 
                      <h2>LOADIND DATA</h2>
                        <span></span><span></span><span></span><span></span><span></span><span></span><span></span> 
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="visual-analisis" role="tabpanel" aria-labelledby="visual-analisis-tab">
                  <div class="loading-container" style="height: 350px; padding-top: 12px;">
                    <br> 
                    <div class="loading"> 
                      <h2>LOADIND DATA</h2>
                        <span></span><span></span><span></span><span></span><span></span><span></span><span></span> 
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="metrics" role="tabpanel" aria-labelledby="metrics-tab">
                  <div class="loading-container" style="height: 350px; padding-top: 12px;"> 
                    <div class="loading"> 
                      <h2>LOADIND DATA</h2>
                        <span></span><span></span><span></span><span></span><span></span><span></span><span></span> 
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="forecast" role="tabpanel" aria-labelledby="forecast-tab">
                  <div class="loading-container" style="height: 350px; padding-top: 12px;"> 
                    <div class="loading"> 
                      <h2>LOADIND DATA</h2>
                        <span></span><span></span><span></span><span></span><span></span><span></span><span></span> 
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="corrected-forecast" role="tabpanel" aria-labelledby="corrected-forecast-tab">
                  <div class="loading-container" style="height: 350px; padding-top: 12px;"> 
                    <div class="loading"> 
                      <h2>LOADIND DATA</h2>
                        <span></span><span></span><span></span><span></span><span></span><span></span><span></span> 
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}


{% block content_dependent_styles %}
  {{ block.super }}
  <link href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.default.min.css" rel="stylesheet"/>
  <link href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.9/dist/flatpickr.min.css" rel="stylesheet" >
  <link href="{% static 'historical_validation_tool_brazil/css/main.css' %}" rel="stylesheet"/>
  <link href="{% static 'historical_validation_tool_brazil/css/map.css' %}" rel="stylesheet"/>
  <link href="{% static 'historical_validation_tool_brazil/css/loader.css' %}" rel="stylesheet"/>
  <link href="{% static 'historical_validation_tool_brazil/css/panel.css' %}" rel="stylesheet"/>
  <link href="{% static 'historical_validation_tool_brazil/css/map_control.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'historical_validation_tool_brazil/libs/Leaflet/leaflet.js' %}" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js" type="text/javascript"></script>
  <script src="https://unpkg.com/shpjs@latest/dist/shp.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.9/dist/flatpickr.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.9/dist/l10n/es.min.js"></script>
  <script src="{% static 'historical_validation_tool_brazil/js/utils.js' %}" type="text/javascript"></script>
  <script src="{% static 'historical_validation_tool_brazil/js/map.js' %}" type="text/javascript"></script>
  <script src="{% static 'historical_validation_tool_brazil/js/map_control.js' %}" type="text/javascript"></script>
  <script src="{% static 'historical_validation_tool_brazil/js/main.js' %}" type="text/javascript"></script>
{% endblock %}





