#map-container {
    width: 100vw;
}

.popup-container {
    max-width:180px;
}

.popup-title {
    font-size:14px;
    color: rgba(32, 41, 92, 0.8) !important; 
    padding: 1px;
    padding-bottom: 3px;
}

.popup-cell {
    vertical-align: top; 
    padding: 1px; 
    padding-bottom: 2px;
}

.popup-cell-title {
    color: rgba(32, 41, 92, 0.8) !important;   
}

.popup-button {
    width:170px; 
    background-color: rgba(32, 41, 92, 0.9) !important; 
    border: 1px solid  rgba(32, 41, 92, 0.9) !important;
}

.popup-button:hover {
    background-color: rgba(32, 41, 92, 0.95) !important;
}